		
		/*USE THIS TO ADD A .css <link rel="stylesheet" href="./filepath">*/
p{
	margin-bottom: 50px;
}
			
	.box{
		display:block;
		width: 100%;
		margin: 0 0 10px 0;
		border-radius: 10px;
		font-family: Roboto;
		font-size: 20px;
		text-align: center;
		padding: 30px 0;
		box-sizing: border-box;
		position: relative;
	}
			
	#container{
		margin-right:auto;
		margin-left:auto;
		width:100%;
		padding-top: 120px;
		font-size: 0; /* font-size:0 removes problem spaceing issue for inline-block*/
		position: relative;
	}
	
	#header{
		background-color: rgba(200,200,200,0.8);
		box-sizing: border-box;
		border: 3px solid;
		position: fixed;
		width: 98%;
		top: 5px;
		z-index: 10;
		padding: 0;
		margin-right:auto;
		margin-left:auto;
	}
	
	#footer{
		background-color: rgba(200,200,200,0.5);
		box-sizing: border-box;
		border: 3px solid;
		z-index: 15;
	}
	
	#sidebar{
		display: inline-block;
		background-color: rgba(150,150,200,0.5);
		width: 18%;
		margin-right: 5px;
		padding: 10px;
		box-sizing: border-box;
		border: 2px dashed rgb(50,50,200);
		position: relative;
		z-index: 5;
	}

	#content{
		display: inline-block;
		background-color: rgba(100,100,100,0.5);
		width: 81%;
		margin-left: 5px;
		padding: 12px;
		box-sizing: border-box;
		position: relative;
		z-index: 5;
		vertical-align: top;
	}

	#linkToTop{
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 15;
	}